body {
    padding: 32px;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  
  
  .section-content {
    margin: 32px auto;
    max-width: 500px;
  }
  
  .section-item {
    margin-bottom: 16px;
    text-align: left;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f4f4f4;
    font-family: "Poppins", sans-serif;
  }
  
  button {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: #000;
    margin: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
  
  .btn_konversi {
    background-color: #5cff8a;
  }
  
  .btn_hapus {
    background-color: #ff7a7a;
  }
  
  .btn_reverse {
    background-color: #f7f990;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
  